body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('tu-imagen-de-fondo.jpg'); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: rgba(28, 21, 46, 0.473); /* Color del texto en la parte superior de la imagen de fondo */
}
.hidden {
    display: none;
}
header {
    background-color: rgba(51, 51, 51, 0.8); /* Fondo semi-transparente para el encabezado */
    color: rgb(0, 0, 0);
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

button {
    padding: 10px 20px;
    background-color: #0e6c66;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #074c46;
}

.main-content {
    padding: 50px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
